<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoppingmall1809">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingMall1809"
        android:usesCleartextTraffic="true">
        <activity android:name=".main.message.MessageActivity"></activity>
        <activity android:name=".welcome.WelcomeActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".main.particulars.ParticularsActivity" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="411" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="731" />
    </application>

</manifest>