<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiance.user">

    <application>
        <activity android:name=".registers.RegisterActivity"></activity>
        <activity android:name=".logins.LoginActivity" />
    </application>

</manifest>